<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Global Network Movement - About</title>
    <%- include('links') -%>
    <%- include('head-script') -%>
  </head>
  <body>
    <%- include('navbar') -%>
    <%- include('footer') -%>
    <%- include('body-script') -%>
  </body>
</html>
