<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('meta') -%>
    <title>About • Global Network Movement</title>
    <%- include('shared-links') -%>
    <%- include('head-script') -%>
  </head>
  <body>
    <%- include('navbar') -%>
    <%- include('navsidebar') -%>
    <!-- What Matters Section -->
    <section id="what-matters" class="h-wrap bg-vanilla-grey ml-20 w-80">
      <h1 style="padding: 8vw 0 0 5vw; font-size: 4vw">What Matters</h1>
      <span class="line-scuffed-light-grey" style="margin-top: 1.65vw;"></span>
      <div class="text-about-section text-scuffed-light-grey">
        <p>Global Movement Network was born out of three main principles:
           Recognizing that the slow shift matters, our urgent environmental
           crisis, and the desire to raise the bar and support fellow yoga
           teachers, artists and healers.
        </p>
        <section id="the-slow-shift" class="sub-section">
          <h3 class="pb-1 text-black">The Slow Shift</h3>
          <p>In order to create a just world, we collectively need to tend to our
            inner work. Yoga, Art, and Healing practices can help shift mindsets
            from one where we are lacking something, to one where we see we are
            interconnected with all things.  Simple is beautiful.  Less is more.
            We are here offering this message and steps to unpack a world that
            runs off exploitation and greed to one where we can all support and
            lift up each other.
            <br><br>
            It is a radical act to love yourself.  It is a radical act to see
            the world as one where we are all in it together, where we see clearly
            that if someone is suffering, we are suffering.
            <br><br>
            Or western culture is based off of capitalism.  The basic
            principle of capitalism is that it values monetary profits over
            everything else.  This drives us to believe that more is better, and
            if we are not doing more, buying more, making more, or progressing,
            then we are not okay.   In this way, if we are making a profit-- even
            if it is at the expense of our self worth, our energy, other people or
            our natural resources-- it is preferable.  If the only thing we value
            is profit, we lose our connection to everything else around us,
            including our earth, and including ourselves.
            <br><br>
            Part of the work of yoga, the arts and healing practices are to
            remind us that we are more than our jobs, our acquisitions and what we
            look like.  We are not separate from nature-- we ARE nature.   When we
            can realize that many of our thoughts are not ours, but have been
            carefully constructed by billions of dollars of marketing materials
            and generations of "status quo" business as usual, we can take
            ownership of our lives, our hearts and of course our actions.
            <br><br>
            If we know we ARE enough, and HAVE enough, if we are fulfilled on
            our own terms, capitalism crumbles.  We can stop depending on products
            or companies for our survival-- and realize that we are already
            surviving and thriving.   We can invest our time and our resources in
            things that truly fill our cup.  We can end the cycle of relentless
            capitalistic greed, exhaustion and dependence.
          </p>
        </section>
        <section id="environmental-justice" class="sub-section">
          <h3 class="pb-1 text-black">Environmental Justice</h3>
          <p>
            <em>Urgent Action is Needed Now. </em>
            People are doing the slow healing work, but meanwhile, the Earth is
            dying.  We must protect our natural resources and wild spaces while
            they’re still here. We are supporting activists on the front lines
            defending clean air, clean water, and protecting endangered species.
            <br><br>
            There have been several alarming studies and statistics that reveal
            some very hard facts and raise some urgent concerns. The 2018 report
            by the UN revealed that we have 12 years left to make the
            significant shifts necessary to avoid ecocide.
            <br><br>
            The earth and all its biodiversity are in trouble due to human
            intervention. In the past 50 years, almost 60% of the world’s
            biodiversity has become extinct.  Extinction is forever.
            <br><br>
            99% of all products that are produced are not in use six months
            later.
            <br><br>
            Mass production of plastics (one of the fastest growing sectors of
            the oil and gas companies) began only 60 years ago. In that time we
            have created over 8 billion tons of plastic. Only an estimated 9% of
            that has been recycled.
            <br><br>
            It is estimated that by 2050 there will be more plastic than fish in
            the ocean.  If the ocean goes, we go.
            <br><br>
            At the current rate, we lose 20 football fields of forest every
            minute.  The United States has only 5% of the world's population yet
            uses 30% of the paper.   The loss of forests contribute to 12-17% of
            greenhouse gas emissions.
            <br><br>
            Global Movement Network recognizes that there is an urgency to
            saving the water, the forests, the animals and biodiversity. While
            the slow shift is important, it is too slow for the urgency of our
            environmental crisis.  We recognize the importance of the direct
            action activists that protect our wild spaces.  We are grateful for
            them.  We need them.  Many of these activists work tirelessly,
            every day, for very little recognition and even risk their own lives
            in the process.  We are able to provide financial support so they
            can continue their work.
          </p>
        </section>
        <section id="quality-and-quantity" class="sub-section">
          <h3 class="pb-1 text-black">Quality and Quantity</h3>
          <p>
            As the volume of yoga teachers and retreats and events goes up, the
            quality often goes down. We will offer space to skill share and
            support each other as fellow artists, teachers and healers and raise
            the bar on our offerings. There will be anti-racist training,
            nonviolent communication training, practical-skill shares, and, of
            course, celebration through community building.
            <br><br>
            The yoga industry is a billion-dollar industry and it would be
            foolish to ignore the fact that, while well-intentioned, many yoga
            teachers can fall prey to capitalistic messages within the yoga
            world. In an age where instagram stardom and marketing have more of
            an impact than experience in practice, it becomes easy to fall into
            a competitive cycle in the yoga industry.
            <br><br>
            When competing, one person tries to get ahead of the next. It seems
            that we have forgotten we are all on the same team.  There is enough
            yoga to go around.  Global Movement Network seeks to slash the
            competitive vibe in the yoga industry and support other teachers to
            do the personal work needed to anchor to truth: That we are all
            connected, and that we are more than how many people come to our
            classes or workshops.
            <br><br>
            In doing this, we can actually uplift each other and share our
            experience and skills so that everyone benefits.
            <br><br>
            One way we can do this is to offer free collective workshops where
            we openly share skills and learn from each other. Organized skill
            shares will include anti-racist training, nonviolent communication
            training, exercises to unpack the capitalistic baggage we all carry.
            They will also include workshops on how to organize retreats, how to
            cook vegan and implement zero waste practices for events, how to
            organize community gatherings, how to ensure yoga trainings are
            trauma-informed, etc. Do you have a skill set that other teachers
            would benefit from?  We invite you to share your skills and uplift
            the whole community! Thank you!
          </p>
        </section>
      </div>
    </section>

    <!-- Mission Section -->
    <section id="mission" class="h-wrap bg-vanilla-grey ml-20 w-80">
      <h1 style="padding: 7.45vw 0 0 5vw; font-size: 4vw">Mission</h1>
      <span class="line-scuffed-light-grey" style="margin-top: 1.65vw;"></span>
      <div class="text-about-section text-scuffed-light-grey">
        <p>
          What  if yoga retreats, classes, art events and more were truly an
          offering to the earth? What if  profits were channeled toward people
          on the  frontlines of protecting and defending some of the most
          fragile  ecosystems on earth?  The benefits of these retreats, classes
          and events would not just be  of personal gain to the host and to
          every participant, but it would  be a collective gain for the whole
          world. This network connects earth  loving yoga teachers, artists and
          healers with grassroots activists.
          <br><br>
          We  believe that collectively we can raise the bar of these events,
          increase accessibility and combine our efforts to result in real, direct
          and urgent protection of the earth.
          <br><br>
          In order to help build the future we want to be a part of, there are a
          few key things that need to happen:
          <br><br>
          <ol>
            <li>
              Our natural resources need to be protected, defended and restored at
              all cost.
            </li>
            <li>
              Our mindsets and daily behaviors need to shift away from a
              capitalistic and  consumeristic way of thinking and behaving toward
              one where we embody our inter-connectedness with all beings.
            </li>
            <li>
              Yoga teachers can work together  to support each other, trade skills
              and stories to increase community  and knowledge about how to host
              impactful retreats and to channel our  healing work benefit the
              earth. Individually, each event host will donate at least half of
              their profits to Global Movement Network and we will channel all
              donations to our
              <a href="#network-allies" class="link-scuffed-light-grey">
                Network Allies
              </a>
              who are on the frontlines of environmental justice. All yoga
              retreats and events will be ran autonomously, though each will
              meet the ethical standard laid out by the network.
            </li>
          </ol>
          <br>
          As more and more yoga teachers start to host retreats and events, The
          Global Movement  Network is a place we can come together in solidarity
          with earth.   Because we are taking competition and ego out of the
          equation, we  can freely collaborate together.  We can co-host together.
          We can  offer better, wider, more thoughtful retreats. We can offer our
          retreats to communities that may not otherwise have access.
          <br><br>
          Most  importantly, we can connect with other yoga teachers who are like
          minded and supportive-- all while building skills and gaining valuable
          experience.
          <br><br>
          Every four months, there will be an opportunity to gather in person for
          celebration and review the impact our pooled resources. We will also
          trade skills, share stories and gain inspiration and new ideas for our
          future retreats and events. Together we can encourage yoga teachers,
          artists and healers to make a meaningful impact.
        </p>
      </div>
    </section>

    <!-- How It Works Section -->
    <section id="how-it-works" class="h-wrap bg-vanilla-grey ml-20 w-80">
      <h1 style="padding: 7.45vw 0 0 5vw; font-size: 4vw">How it Works</h1>
      <span class="line-scuffed-light-grey" style="margin-top: 1.65vw;"></span>
      <div class="text-about-section text-scuffed-light-grey">
        <p>
          Global Movement Network is a nonprofit organization that acts as a
          trust for yoga teachers, artists and healers.  We are a decentralized
          funding pool for strategic, direct action, environmental activists.
          <br><br>
          What that means is that event and retreat organizers donate their
          profits to us, and we channel it to make the most impact for the
          urgent environmental crisis.   We recognize that one event or retreat
          may not generate much profit, but if we all collectively channel our
          resources together we can have big impact.
          <br><br>
          To maximize our impact, we are currently partnered with two
          organizations, our
          <a href="#network-allies" class="link-scuffed-light-grey">
            Network Allies:
          </a>
          Somi Se’k Village Base Camp & L’eau Est La Vie camp. Our
          <a href="#network-allies" class="link-scuffed-light-grey">
            Network Allies
          </a>
          focus on direct action on environmental and social justice issues.
          They support habitat defense, endangered species protection, support
          indigenous rights and front line communities. They are
          anti-oppressive.
          <br><br>
          We have a third
          <a href="https://en.wikipedia.org/wiki/Investment_fund"
             class="link-scuffed-light-grey"
             target="_blank">
            open pool
          </a>
          for emergency funds. We are a place that environmental activists can
          come to for support for immediate action. This could include mutual
          aid for disaster relief efforts, houseless eviction support, animal
          rescue, urgent deforestation work etc.
          <br><br>
          Every retreat, class and event listed on this site has met our code of
          ethics.  At least half of profits received from each retreat and
          event will be put into a collective funding pool and from there will
          be allocated to our
          <a href="#network-allies" class="link-scuffed-light-grey">
            Network Allies
          </a>
          so they can keep doing their work.
          <br><br>
          Every month, we will donate whatever we have generated to our
          <a href="#network-allies" class="link-scuffed-light-grey">
            Network Allies.
          </a>
          40% will go to Somi Se’k Village base camp, 40% will go to
          L’eau Est La Vi camp and 20% will be put into our emergency fund.
          <br><br>
          If no emergenices come up, we will roll the funds to the next month.
          We commit to donating our emergency fund every three months, so that
          the money does not sit there “waiting for disaster to strike.”  We
          welcome people to come forward with requests for assistance. If we
          have the funds, and your work meets our values, we will support you as
          best as we can!
          <br><br>
          Each retreat and event are hosted voluntarily. They are individually
          and independently run and promoted as a “normal”  retreat or event.
          So as a teacher or event coordinator, your job does not change at all!
          It is super simple.  It’s as easy as running things as normal, but
          putting the profits here versus there.
          <br><br>
          The final thing we do, is support each other as yoga teachers, artists
          and healers.  This is a place where we can come together, slash the
          competitive vibe in the community and learn from each other.  We will
          organize free skill-shares and workshops.  Workshops will include
          anti-racist training, nonviolent communication training, how to teach
          and guide trauma-informed classes, vegan cooking workshops, zero waste
          workshops, retreat and event organizing workshops and more.
        </p>
      </div>
    </section>

    <!-- Ethics Section -->
    <section id="ethics" class="h-wrap bg-vanilla-grey ml-20 w-80">
      <h1 style="padding: 7.45vw 0 0 5vw; font-size: 4vw">Ethics</h1>
      <span class="line-scuffed-light-grey" style="margin-top: 1.65vw;"></span>
      <div class="text-about-section text-scuffed-light-grey">
        <p>
          Because  all events and retreats under Global Movement Network are
          supporting  environmental justice, we want to ensure that every event
          upholds  certain ethical standards.  To join the network, your events
          must  uphold the following principles:
        </p>
        <section id="vegan" class="sub-section">
          <h3 class="pb-1 text-black">Vegan</h3>
          <p>
            Animal agriculture is one of the deadliest industries on the planet.
            It is the leading cause of deforestation. It is responsible for over
            90% of Amazon deforestation. It is the leading cause of species
            extinction. It consumes over a third of the world’s fresh water
            supply. Billions of animals are subjected to pain and suffering all
            for the sake of profits. Food injustice and food deserts created by
            the industrial food  system create nutrient deficient foods for
            millions of people and the  highly processed foods that comprise
            many diets worldwide now are linked  to cancer, and heart disease
            which is the #1 killer of humans.    Because of this, every event
            will refuse to support the meat and dairy  industry and will instead
            serve healthy vegan food.
          </p>
          <p class="note">
            <b class="text-black">Note:</b> You do not have to personally be
            vegan! However, when you hold space for others and it is in the name
            of inner healing and for environmental work, we ask that your
            retreat or event be vegan.
            <br>
            <b class="text-black">Resources:</b>
            <a class="link-scuffed-light-grey"
               href="http://www.foodforthoughtcampaign.org/throw-your-first-veg-event.html"
               target="_blank">
               How to throw a vegan event,
            </a>
            <a class="link-scuffed-light-grey"
               href="http://www.foodforthoughtcampaign.org/"
               target="_blank">
               Support (and even grants) for making your event vegan
            </a>
          </p>
        </section>
        <section id="no-single-use-plastics" class="sub-section">
          <h3 class="pb-1 text-black">No Single-Use Plastics</h3>
          <p>
            Plastic  pollution is destroying our ocean ecosystem and is one of
            the fastest  growing facets of the oil and gas industry. Local
            communities--  typically poor communities of color--bear the brunt
            of environmental  damage as they are typically closest to oil and
            gas refineries and  plastic manufacturing plants where toxic
            pollution poisons the air and  water of those communities.
            Plastic products make it easier to uphold a  capitalist system where
            cheap products can be sold for profit, and it’s  at the expense of
            the planet and the local communities living near  these refineries
            and manufacturers. Since plastic takes hundreds of years to
            decompose in the environment, every single piece of plastic that has
            ever been made is still in existence. Much of this is in our ocean,
            on every beach on the planet and is now being found in over 660
            species of aquatic marine life, killing off already endangered fish,
            birds and animals.   Because of this, every event will refuse to use
            single-use plastics and minimize plastic waste.
          </p>
          <p class="note">
            <b class="text-black">Note:</b> You do not have to personally be
            zero waste!  However, when you hold space for others and it is in
            the name of inner healing and for environmental work, we ask that
            your retreat or event strive for this.
            <br>
            <b class="text-black">Resources:</b>
            <a class="link-scuffed-light-grey"
               href="https://sevengenerationsahead.org/images/work/zerowaste/SGA_ZW_Event_Planning_Guide_FINAL.pdf"
               target="_blank">
               How to throw a zero waste event guide,
            </a>
            <a class="link-scuffed-light-grey"
               href="https://www.instagram.com/zerowastechica/?hl=en"
               target="_blank">
               Zerowastechica’s blog page with so many tips
            </a>
          </p>
        </section>
        <section id="non-hierarchical-and-non-oppressive" class="sub-section">
          <h3 class="pb-1 text-black">Non-hierarchical & Non-oppressive</h3>
          <p>
            We believe that all beings are equal and commit ourselves to creating
            a safe space. All people are welcome, regardless of age, class,
            race, ability, gender, sexual orientation. As often as possible,
            scholarships and sliding-scale pricing will be available to increase
            accessibility. Carpooling will be an option whenever possible. All
            teachers will be trained in non-violent communication. When hosting
            a retreat, all efforts to communicate with local communities will be
            made and their time, culture and resources will be respected. In
            creating a safe space, we have zero tolerance for hate speech,
            sexual harassment and racism.
          </p>
          <p class="note">
            <b class="text-black">Note:</b> If you are white and a retreat or
            event leader, we DO ask you to be actively engaged in anti-racist
            work. If you identify as a man, we ask that you ARE actively
            involved in intersectional-feminist work.
            <br>
            <b class="text-black">Resources:</b>
            <a class="link-scuffed-light-grey"
               href="http://laylafsaad.com/"
               target="_blank">
               Layla F. Saad - free online workbook on dismantling white
               supremacy and podcasts,
            </a>
            <a class="link-scuffed-light-grey"
               href="http://lachristagreco.com/"
               target="_blank">
               The Guerrilla Feminist - Lachrista Greco: Many links to articles and resources on radical feminism
            </a>
          </p>
        </section>
      </div>
    </section>

    <!-- Network Allies Section -->
    <section id="network-allies" class="h-wrap bg-vanilla-grey ml-20 w-80">
      <h1 style="padding: 7.45vw 0 0 5vw; font-size: 4vw">Network Allies</h1>
      <span class="line-scuffed-light-grey" style="margin-top: 1.65vw;"></span>
      <div class="text-about-section text-scuffed-light-grey">
        <section id="support" class="sub-section">
          <h3 class="pb-1 text-black">Support</h3>
          <p>We support
            <a class="link-scuffed-light-grey"
               href="https://en.wikipedia.org/wiki/Direct_action"
               target="_blank">
              Direct Action
            </a>
            that supports:
            <ul>
              <li>Anti-oppression</li>
              <li>Environmental & Social Justice</li>
              <li>Habitat Defense</li>
              <li>Endangered Species Protection</li>
              <li>Front-line communities</li>
              <li>Indigenous rights</li>
            </ul>
          </p>
          <p>
            We are currently supporting two organizations: Somi Se’k Village Base
            Camp and Crawfish Revolution (formerly L’eau Est La Vie Camp.) We want
            to provide consistent, stable funding for these activists so they can
            continue their work. As we grow, we will add new organizations to who
            we can fund. We have a third pool of funds saved for emergency
            response such as mutual aid disaster relief work, animal rescue,
            houseless eviction support, urgent work in supporting deforestation
            organizing, etc . Every month, we will donate what we have to them.
            40% to Somi Se’k, 40% to Crawfish Revolution, and 20% into our
            emergency fund. We want to offer what we can, when it is needed. If
            you are an activist or an organization who needs support, please reach
            out to us!
          </p>
        </section>
        <section id="somi-sek-village-base-camp" class="sub-section">
          <h3 class="pb-1 text-black">
            <img style="width: 4vw; height: auto;"
                 src="images/ssv.svg"
                 alt="Somi Se’k Village Base Camp image">
            Somi Se’k Village Base Camp
          </h3>
          <p>
            Under the leadership of the Esto’k Gna (Carrizo/Comecrudo Tribe of
            Texas), the Somi Se’k Village Base Camp’s mission is to populate and
            support a network of front Line Encampments (Wolf Pack) villages
            along the so called Mexican-American border, protecting indigenous
            sacred sites, resisting construction of the LNG (fracked gas)
            terminal, accompanying pipelines, and educating people about the
            environmental  devastation the Border Wall will cause. We fight to
            stop the senseless endangerment of people, animals, and the
            environment.
            <br><br>
            Somi Se’k Village Base Camp will support and train activists to
            populate these villages. We operate with the understanding that the
            issues arising around the border-- the right to migrate, destruction
            of the environment and indigenous sacred sites, and the inhumane
            incarceration of migrant children-- are intersectional and are
            symptoms of centuries-long control and oppression by colonizers.
            <br><br>
            We are Natives and non-Natives, Water Protectors, students,
            community organizers, other collectives, working people, military
            veterans working under the leadership of indigenous communities. We
            are people of all races, genders, ethnicities, political and
            spiritual backgrounds, and ages. We recognize our co-dependence and
            understand that we are one people.
            <br><br>
            We are dedicated to non-violent and prayerful action and resistance.
            Protect Ahumatau Mete’l! Protect Somi Se’k!
          </p>
        </section>
        <section id="crawfish-revolution" class="sub-section">
          <h3 class="pb-1 text-black">
            <img style="width: 4vw; height: auto;"
                 src="images/crawfish-rev.svg"
                 alt="Crawfish Revolution image">
            <a class="link-black"
               href="https://www.facebook.com/LeauEstLaVie/"
               target="_blank">
              Crawfish Revolution
            </a>
          </h3>
          <p>
            Beginning in 2017, water protectors and land defenders in so-called
            Louisiana came together to form L'eau Est la Vie, an indigenous led
            resistance camp and campaign to stop the Bayou Bridge Pipeline.
            To date,  hundreds of people have come through to support our camp,
            and  collectively we were able to successfully prevent the Bayou
            Bridge  Pipeline from completing its planned route through the camp
            land!
            <br><br>
            As L'eau Est la Vie's campaign transitions to focus on a legal
            strategy, our camp is also experiencing a transition of its own.
            We're  calling it a Crawfish Revolution!
            <br><br>
            Since opening camp over a year  ago, we have been working with
            volunteers to transform the land from a former mono-crop field to a
            sustainable food forest with accessible accommodations for guests
            and volunteers. Inch by inch we have made  tremendous progress
            restoring native plants and landscapes as well as  developing
            accessible housing and facilities.
            <br><br>
            The Crawfish Revolution is our transition from one vision of camp to
            another, shifting to focus on food sovereignty and mutual aid while
            maintaining its roots in indigenous knowledge and leadership.
          </p>
        </section>
      </div>
    </section>

    <!-- Action Taken -->
    <section id="action-taken" class="h-wrap bg-vanilla-grey ml-20 w-80">
      <h1 style="padding: 7.45vw 0 0 5vw; font-size: 4vw">Action Taken</h1>
      <span class="line-scuffed-light-grey" style="margin-top: 1.65vw;"></span>
      <div class="text-about-section text-scuffed-light-grey">
        <section id="collective-funds" class="sub-section">
          <h3 class="pb-1 text-black">Collective Funds</h3>
          <p>
            Since November, 2018 we have hosted over 40 events ranging from
            classes to workshops to retreats to art battles!
            <br><br>
            We have collectively donated over $10,000 to our Network Allies.
            <br><br>
            We have supported indigenous water protectors stand their ground and
            get basic camp supplies to fight the Energy Transfers Pipeline in
            Louisiana and begin to transition their camp to mutual aid efforts
            and food sovereignty .  We have supported indigenous land protectors
            create tribal villages along proposed routes along the border wall,
            protecting sacred burial grounds and documenting the safety of all
            communities. These efforts protect wildlife and ecosystems,
            including the near extinct ocelot, from being disrupted due to over
            30 environmental laws being waived from construction for the wall.
          </p>
        </section>
        <section id="generous-supporters" class="sub-section">
          <h3 class="pb-1 text-black">Generous Supporters</h3>
          <section id="emily-gallagher" class="sub-section">
            <h5 class="pb-1 text-black">Emily Gallagher</h5>
            <p>
              A special thank you to Emily Gallagher, a public lawyer, for
              donating her time and resources to get all the 501c3 status stuff
              on lock down. She has consistently been there for legal support in
              submitting what is probably too much paperwork.
            </p>
          </section>
          <section id="duncan-chueng" class="sub-section">
            <h5 class="pb-1 text-black">Duncan Chueng</h5>
            <p>
              And a special thank you to Duncan Chueng, founder off
              <a class="link-scuffed-light-grey"
                 href="http://www.offtrailontrack.com/">
                Off Trail On Track.
              </a>
              Duncan has provided amazing backpacking experiences and
              re-connection to wilderness trips and has been a co-guide of many
              of the donation-based trips that contribute to this network! He
              has also generously let us use a lot of his photos for the
              website! Thanks, kind, awesome human!
            </p>
          </section>
        </section>
      </div>
    </section>
    <section id="event-donating" class="h-wrap bg-vanilla-grey ml-20 w-80">
      <h1 style="padding: 7.45vw 0 0 5vw; font-size: 4vw">Event Donating</h1>
      <span class="line-scuffed-light-grey" style="margin-top: 1.65vw;"></span>
      <div class="text-about-section text-scuffed-light-grey">
        <p>TBD</p>
      </div>
    </section>
    <div class="ml-20 w-80">
      <%- include('footer') -%>
    </div>
    <%- include('body-script') -%>
    <script src="js/about.js"></script>
  </body>
</html>




















<%# EOF %>
