<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('shared-links') -%>
    <title>Contact • Global Movement Network</title>
    <%- include('shared-links') -%>
    <%- include('head-script') -%>
  </head>
  <body>
    <%- include('navbar') -%>
    <section id="contact-heading"
             class="w-fill h-wrap bg-vanilla-grey text-center">
      <div id="contact-action">
        <h1 style="padding-top: 20vw;">tbd</h1>
      </div>
    </section>
    <%- include('footer') -%>
    <%- include('body-script') -%>
  </body>
</html>
