<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Global Movement Network</title>
    <%- include('links') -%>
    <%- include('head-script') -%>
  </head>
  <body>
    <!-- Container for parallax -->
    <div class="plax">
      <%- include('navbar') -%>
      <!-- Back section for parallax: Welcome Imagery -->
      <section id="welcome-imagery"
               class="back
                      p-2
                      plax-bg-img-1
                      text-center
                      text-vanilla-grey">
        <h1 id="gmn-title">
          Global Movement Network
        </h1>
        <h6 id="gmn-slogan">
            We are a network of teachers, artists,
            chefs, healers &mdash; <i>anyone</i> who stands for
            environmental & social justice.
        </h6>
      </section>
      <!-- Front section for parallax: How it Wo -->
      <section id="to-be-determined"
               class="base bg-vanilla-grey pt-4 text-center"
               style="font-size: 4vw;">
        tbd
      </section>
      <!--  -->
      <section id="upcoming-events"
               class="bg-vanilla-grey pt-4 text-center wh-fill">
        <h2 id="upcoming-events-title"
            class="text-scuffed-dark-grey"
            style="font-size: 4vw;">
          <hr style="width: 75vw;">
          tbd
        </h2>
      </section>
    </div>
    <%- include('footer') -%>
    <%- include('body-script') -%>
  </body>
</html>
